@keyframes popIn {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
@keyframes popOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.3);
      opacity: 0;
    }
}

.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.row {
    display:flex;
}
.col{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: backgound-color 0.3s;
}

.insert {
    animation: popIn 0.3s ease-out;
}
.pop {
    animation: popOut 0.3s ease-out;
}

.highlight {
    background-color: blue;
}